{% extends "bootstrap/base.html" %}
{% block title %}Alex{% endblock %}

{% block content %}
  <div id="imagebox" ="" style=" background: linear-gradient(to bottom, #123e5c, #7bdef8); text-align: center;">
  	<img src="/static/images/bck.jpg" style="height: 370px; width: 55%;  box-shadow: 0px 0px 0px #123e5c;">
  </div>
    <div class="jumbotron" style="text-align: center; padding: 5px 2px 5px 2px">
  <h2> Meet Alex</h2>
  <p> Making the smart home available for everyone</p>
</div>
  <div class="container">
   <div class="panel-body container">
   <div class="col">
	<div>
      
        <div class="container col-md-8 col-md-offset-2" style="background: #f7f7f9;">
          <h4 class="text-info" style="padding-bottom: 3px; text-align: center;"> Change action for {{gesture}} </h4>
        <form  method="post">
         <div class="form-group">
         <p> <input class="form-control" type=text name=action>
         </p></div>
         <div class="form-group"
         <p> <input class="form-control btn-primary" type=submit value=Change></div>
         </form></div></div>
</div>
<!--  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> <span aria-hidden="true" class="">×   </span><span class="sr-only">Close</span>

                </button>
                 <h4 class="modal-title" id="myModalLabel">Modal title</h4>

            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
</div>
</div>
</div>
{% endblock %}